*~
*.swp
*.dets
*.pyc
/ebin
*.beam
/doc
/auth.db
/library.db
/library_index.db
/playdar.log
/playdar.err
/deps/erlydtl/src/erlydtl/erlydtl_parser.erl
/.default_config.hrl.escript
/include/default_config.hrl
.DS_Store
*.lo
*.la
*.conf
/playdar_modules/library/priv/taglib_driver/taglib_json_reader
erl_crash.dump
*.ncb
*.suo
*.vcproj.*.user
*.db