{% extends "base.tpl" %}
{% block title %}Allow Playdar Access{% endblock %}
{% block bodyid %}auth{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<form method="post" action="/auth_2/" id="auth">
    <p>Allow access to Playdar from <a href="{{formvars.website|urlencode}}">{{formvars.name|force_escape}}</a></p>
    <p class="buttons">
        <input type="button" value="Deny" class="button" onclick="window.close();" />
        <input type="submit" value="Allow" class="confirm button" />
    </p>
    {% for k, v in formvars %}
    <input type="hidden" name="{{k|force_escape}}" value="{{v|force_escape}}" />
    {% endfor %}
</form>
{% endblock %}