{% include "header.inc.html" %}
<h3>Resolvers</h3>
<table style="width:100%">
<tr style="font-weight:bold">
<td>Name</td>
<td>Module</td>
<td>Weight</td>
<td>Target Time</td>
</tr>
{% for r in resolvers %}
<tr style="background-color: {% cycle white,lightyellow %}">
<td>{{ r.name }}</td>
<td>{{ r.mod }} </td>
<td>{{ r.weight }}</td>
<td>{{ r.targettime }}</td>
</tr>
{% endfor %}
</table>


<h3>HTTP Handlers</h3>
<table>
{% for p in http_paths %}
<tr>
<td> <b>{{p.prefix}}</b> </td>
<td>
{% if p.menu_url %}
<a href="{{p.menu_url}}">
{% endif %}
{% if p.menu_text %}
{{p.menu_text}}
{% endif %}
{% if p.menu_url %}
</a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>

<h3>Protocols Supported</h3>
<ul>
{% for p in protocols %}
<li>{{p}}://</li>
{% endfor %}
</ul>

</body>
</html>
