{% extends "base.tpl" %}
{% block bodyid %}logger{% endblock %}
{% block content %}
<h2>Log Output, levels: {{ levels }}</h2>
<p>This will only update as new lines are logged, so go do something then check this page
<br/>
If you leave this page open for too long, your browser may crash. Browsers suck.</p>
<table id="log" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="line">#</td>
            <td class="date">Date</td>
            <td class="module">Module</td>
            <td class="level">Level</td>
            <td class="message">Message</td>
        </tr>
    </thead>
    <tbody id="logBody"></tbody>
</table>
<script language="javascript">
var line = 1;
var MAX_ROWS = 100;

function log (date, level, module, msg) {
    // Create a row
    var moduleHighlight = "{{ highlight_module|escapejs }}";
    var row  = document.createElement('tr');
    row.id = 'row_' + line;
    // Candystripe
    if (line % 2) {
        row.className = 'even';
    }
    if (module == moduleHighlight) {
        row.className += ' highlight';
    }
    var logBody = document.getElementById('logBody');
    logBody.insertBefore(row, logBody.firstChild);
    var html = '<td class="line">' + (line++) + '</td>'
                 + '<td class="date">' + date + '</td>'
                 + '<td class="module">' + module + '</td>'
                 + '<td class="level">' + level + '</td>'
                 + '<td class="message">' + msg + '</td>';
    row.innerHTML = html;
    if (false && line > MAX_ROWS) {
        var lastRow = document.getElementById('row_' + (line-MAX_ROWS));
        if (lastRow) {
            logBody.removeChild(lastRow);
        }
    }
}
</script>
<iframe style="display:none;" src="{{ iframe_url }}"></iframe>
{% endblock %}