{% extends "../base.tpl" %}
{% block content %}
<h3>Peers ({{peers|length}})</h3>
{% if not peers %}
You can connect to peers using: <pre>playdarctl connect &lt;host&gt; &lt;port&gt; &lt;true|false&gt;</pre>
{% else %}
<table style="width:100%">
<tr style="font-weight:bold">
<td>Name</td>
<td>Pid</td>
<td>Bytes Received</td>
<td>Bytes Sent</td>
<td>Connected</td>
<td>Sharing (us/them)</td>
<td>Admin</td>
</tr>
{% for p in peers %}
<tr style="background-color: {% cycle white,lightyellow %}">
<td>{{ p.name|force_escape }}</td>
<td>{{ p.pid|force_escape }} </td>
<td>{{ p.stats.recv_oct|force_escape }}</td>
<td>{{ p.stats.send_oct|force_escape }}</td>
<td>{{ p.conndate|force_escape }}</td>
<td>{{p.weshare|force_escape}} / {{p.theyshare|force_escape}}</td>
<td><a onclick="return confirm('Sure you want to disconnect this peer?');"
       href="/playdartcp?ftok={{ftok}}&disconnect={{p.name|urlencode}}">disconnect</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

<h3>Streams ({{streams|length}})</h3>
{% if not streams %}
<i>No active p2p transfers</i>
{% else %}
<table style="width:100%">
<tr style="font-weight:bold">
<td>Track</td>
<td>Mode</td>
<td>Bytes Transferred</td>
<td>Avg Speed (Kbps)</td>
</tr>
{% for s in streams %}
<tr style="background-color: {% cycle white,lightyellow %}">
<td>{{s.artist|force_escape}} - {{s.track|force_escape}} &nbsp; <i>{{s.album|force_escape}}</i></td>
<td>{{s.mode}}</td>
<td>{{s.transferred}}</td>
<td>{{s.kbps}}</td>
</tr>
{% endfor %}
</table>
{% endif %}


{% endblock %}
