{% extends "../base.tpl" %}
{% block content %}
<h3>Peers</h3>
<table style="width:100%">
<tr style="font-weight:bold">
<td>Name</td>
<td>Pid</td>
<td>Bytes Received</td>
<td>Bytes Sent</td>
<td>Connected</td>
<td>Sharing (us/them)</td>
<td>Admin</td>
</tr>
{% for p in peers %}
<tr style="background-color: {% cycle white,lightyellow %}">
<td>{{ p.name|force_escape }}</td>
<td>{{ p.pid|force_escape }} </td>
<td>{{ p.stats.recv_oct|force_escape }}</td>
<td>{{ p.stats.send_oct|force_escape }}</td>
<td>{{ p.conndate|force_escape }}</td>
<td>{{p.weshare|force_escape}} / {{p.theyshare|force_escape}}</td>
<td><a onclick="return confirm('Sure you want to disconnect this peer?');"
       href="/p2p?ftok={{ftok}}&disconnect={{p.name|urlencode}}">disconnect</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}